.h4__blog {
  font-family: "Montserrat-Bold";
  font-size: 16px;
  padding: 40px;
}
.h3__blog {
  font-family: "Montserrat-Bold";
  font-size: 24px;
  padding-left: 40px;
  padding-top: 210px;
}

.p__blog {
  font-family: "Montserrat-regular";
  display: none;
}

.time__blog {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Montserrat-regular";
  color: #cbd0d3;
  padding-left: 40px;
  position: relative;
  bottom: 30px;
}


