.central {
  margin-bottom: 40px;
}
.blog {
  margin-top: -230px;
  padding-top: 20px;
}
.section__small{
  display: none;
}
.title__section2 {
  font-family: "Montserrat-Bold";
  font-size: 24px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.blog__section1 {
  background: url(../../assets/img/articulo_big_01.png) no-repeat center center;
  background-size: cover;
  height: 429px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
.blog__section2 {
  background: url(../../assets/img/articulo_big_02.png) no-repeat center center;
  background-size: cover;
  height: 429px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

@media screen and (min-width: 1070px) {
  .blog__section1 {
    width: 90%;
    height: 429px;
    margin-left: 60px;
    
  }
  .blog__section2 {
    width: 90%;
    height: 429px;
    margin-left: 60px;
  }
  .section__small{
    display: block;
    width: 30%;
    margin-top: 20px;
    cursor: pointer;
  }
  .res__blog{
    display: flex;
    margin-left: 40px;
  }
  .res__big{
    width: 60%;

  }

}

